<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Blog</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add color theme to statusbar on Android/iOS -->
  <meta name="theme-color" content="#ff5e62">
<link rel="dns-prefetch" href="//code.jquery.com">
<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
  <!-- Favicons-->
<link rel="icon" type="image/png" sizes="196x196" href="/assets/favicons/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/assets/favicons/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16.png">
<link rel="apple-touch-icon" href="/assets/favicons/favicon-57.png">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
<link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Lora|Merriweather" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/ns.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/v4-shims.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">  
<a rel="me" href="https://mastodon.social/@N4vn33t"></a>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">

    <!-- Twitter cards metadatas -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@clickme_exe">
    <meta name="twitter:creator" content="@clickme_exe">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.header-img %}
      <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
    {% endif %}

  <!-- facebook Open Graph Metadatas -->
    <meta content="252306738643719" property="fb:app_id">
    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{ site.url }}{{ page.url }}" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{ site.url }}/myurls/" property="article:author">
    {% endif %}
    {% if page.header-img %}
      <meta content="{{ site.url }}/{{ page.image }}" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}


  {% seo %}
</head>
