<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add color theme to statusbar on Android/iOS -->
  <meta name="theme-color" content="#ff5e62">
<link rel="dns-prefetch" href="//code.jquery.com">
<link rel="dns-prefetch" href="//stackpath.bootstrapcdn.com">
<!-- Favicons-->
  <link rel="shortcut icon" href="/favicons/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
<link rel="dns-prefetch" href="https://fonts.googleapis.com/css?family=Lora|Merriweather" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/css/ns.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/v4-shims.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
<a rel="me" href="https://mastodon.social/@N4vn33t"></a>


    <!-- Twitter cards metadatas -->
    <meta name="twitter:card" content="summary">
    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }}">
    {% endif %}
    {% if page.url %}
      <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    {% if page.description %}
      <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
      <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}
    {% if page.header-img %}
      <meta name="twitter:image:src" content="{{ site.url }}/{{ page.header-img }}">
    {% endif %}

{% seo %}
</head>
