<section class="page-header animated fadeInDown">
  <a href = "/"><h1 class="project-name animated bounceInDown ">{{ site.title }}</h1></a>
  <h2 class="project-tagline animated pulse"><span class="txt-type" data-wait="2000"
      data-words='["This blog is a place where I will share my", "thoughts and Ideas."]'></span>
  </h2>
  <a href="https://mastodon.social/@n4vn33t" class="btn" target="_blank"><i class="fab fa-mastodon"></i> Mastodon</a>
  <a href="https://blog.n4vn33t.com" class="btn" target="_blank"><i class="fa fa-blog"></i> New Blog</a>
  <a href="https://i.navnee.tk/artworks/" class="btn" target="_blank"><i class="fas fa-paint-brush"></i> Artworks</a>
  <a href="https://i.navnee.tk/photography/" class="btn" target="_blank"><i class="far fa-images"></i> Photoreel</a>
  <a href="https://hire.n4vn33t.com/" class="btn" target="_blank"><i class="fas fa-store"></i> My Services</a>
</section>
