<section class="page-header animated fadeInDown">
  <a href = "https://navneet-suresh.github.io"><h1 class="project-name animated bounceIn">{{ site.title }}</h1></a>
  <h2 class="project-tagline animated pulse">{{ site.tagline }}</h2>
  <a href="https://www.facebook.com/itechnavneet/" target="_blank" class="btn animated fadeInUp">Facebook Page</a>
  <a href="https://www.youtube.com/channel/UCrG4ZzOVN2vq4RksdiinZiw" target="_blank" class="btn animated fadeInUp">YouTube Channel</a>
  <a href='http://www.technavneet.com' target= "_blank" class="btn animated fadeInUp"> technavneet Official Website</a>
</section>
