<section class="page-header animated bounce">
  <a href = "https://navneet-suresh.github.io"><h1 class="project-name animated flash">{{ site.title }}</h1></a>
  <h2 class="project-tagline animated pulse">{{ site.tagline }}</h2>
  <a href="https://www.facebook.com/itechnavneet/" target="_blank" class="btn">Facebook Page</a>
  <a href="https://www.youtube.com/channel/UCrG4ZzOVN2vq4RksdiinZiw" target="_blank" class="btn">YouTube Channel</a>
  <a href='http://www.technavneet.com' target= "_blank" class="btn"> technavneet Official Website - Custom Gaming/Workstations PC's.</a>
</section>
